%p This website will generate an RSS feed of your Flickr Photosets, something which, puzzlingly, has never been provided by Flickr themselves.
%p Enter your flickr ID into the box below and hit 'generate' to produce your RSS feed:
%form{:method => "get", :action => "/link"}
  %input{:type => "text", :name => "user"}
  %br
  %input{:type => "submit", :value => "Generate", :id => "submit"}
%p 
  %a{:href => "http://idgettr.com/"} Don't know what your Flickr ID is? Find out here