!!!
%html
  %head
    %title FlickRSS
    
  %body
    %p Enter your flickr ID into the box below and hit 'generate' to produce your RSS feed:
    %p 
      (
      %a{:href => "http://idgettr.com/"} You can find out what your flickr ID is here
      )
    %form{:method => "get", :action => "/link"}
      %input{:type => "text", :name => "user"}
      %input{:type => "submit", :value => "Go"}
